{% extends 'bricksadmin/base.html' %}
{% load static %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

    {% endfor %}

    {% include 'bricksadmin/stats.html' %}

            <!-- My Blogs  Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">My posts</h6>
{#                        <a href="">Show All</a>#}
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                    <th scope="col">Blog Title</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Snippet</th>
                                    <th scope="col">Comments</th>
                                    <th scope="col">Date Posted</th>
                                    <th scope="col" style="text-align: center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                            {% for post in posts %}
                                <tr>
                                    <td>{{ post.title}}</td>
                                    <td><img src="{{ post.thumbnail.url }}" width="50"></td>
                                    <td>{{ post.snippet }}</td>
                                    <td>No comments</td>
                                    <td>{{ post.date_created }}</td>
                                    <td>
                                        <a class="btn btn-sm btn-info" href="">Read</a>
                                        <a class="btn btn-sm btn-warning" href="">Edit</a>
                                        <a class="btn btn-sm btn-danger" href="">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- My Blog  End -->

{% endblock %}

