{% extends 'bricksadmin/base.html' %}
{% load static %}

{% block content %}
     <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <a href="#">
                            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa-regular fa-newspaper fa-3x" style="color: #ff9600"></i>
                            <div class="ms-3">
                                <p class="mb-2">Posts</p>
                                <h6 class="mb-0">14</h6>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <a href="#">
                            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa-solid fa-comment-dots fa-3x" style="color: #17ff97"></i>
                            <div class="ms-3">
                                <p class="mb-2">Comments</p>
                                <h6 class="mb-0">236</h6>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <a href="#">
                            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa-solid fa-square-plus fa-3x" style="color: #0094ff"></i>
                            <div class="ms-3">
                                <p class="mb-2">Create Post</p>
{#                                <h6 class="mb-0">236</h6>#}
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->

            <!-- My Blogs  Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">My posts</h6>
{#                        <a href="">Show All</a>#}
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                    <th scope="col">Blog Title</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Snippet</th>
                                    <th scope="col">Comments</th>
                                    <th scope="col">Date Posted</th>
                                    <th scope="col" style="text-align: center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>01 Jan 2045</td>
                                    <td>INV-0123</td>
                                    <td>Jhon Doe</td>
                                    <td>$123</td>
                                    <td>Paid</td>
                                    <td>
                                        <a class="btn btn-sm btn-primary" href="">Read</a>
                                        <a class="btn btn-sm btn-warning" href="">Edit</a>
                                        <a class="btn btn-sm btn-danger" href="">Delete</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>01 Jan 2045</td>
                                    <td>INV-0123</td>
                                    <td>Jhon Doe</td>
                                    <td>$123</td>
                                    <td>Paid</td>
                                    <td>
                                        <a class="btn btn-sm btn-primary" href="">Read</a>
                                        <a class="btn btn-sm btn-warning" href="">Edit</a>
                                        <a class="btn btn-sm btn-danger" href="">Delete</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>01 Jan 2045</td>
                                    <td>INV-0123</td>
                                    <td>Jhon Doe</td>
                                    <td>$123</td>
                                    <td>Paid</td>
                                    <td>
                                        <a class="btn btn-sm btn-primary" href="">Read</a>
                                        <a class="btn btn-sm btn-warning" href="">Edit</a>
                                        <a class="btn btn-sm btn-danger" href="">Delete</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>01 Jan 2045</td>
                                    <td>INV-0123</td>
                                    <td>Jhon Doe</td>
                                    <td>$123</td>
                                    <td>Paid</td>
                                    <td>
                                        <a class="btn btn-sm btn-primary" href="">Read</a>
                                        <a class="btn btn-sm btn-warning" href="">Edit</a>
                                        <a class="btn btn-sm btn-danger" href="">Delete</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>01 Jan 2045</td>
                                    <td>INV-0123</td>
                                    <td>Jhon Doe</td>
                                    <td>$123</td>
                                    <td>Paid</td>
                                    <td>
                                        <a class="btn btn-sm btn-primary" href="">Read</a>
                                        <a class="btn btn-sm btn-warning" href="">Edit</a>
                                        <a class="btn btn-sm btn-danger" href="">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- My Blog  End -->

{% endblock %}

