{% extends 'bricksadmin/base.html' %}
{% load static %}

{% block content %}
     {% include 'bricksadmin/stats.html' %}

            <!-- My Blogs  Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Comments</h6>
                    </div>
                    <div class="table-responsive">
                        <p>Nothing to see here</p>
                    </div>
                </div>
            </div>
            <!-- My Blog  End -->

{% endblock %}

