<!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <a href="{% url 'bricksadmin' %}">
                            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa-regular fa-newspaper fa-3x" style="color: #ff9600"></i>
                            <div class="ms-3">
                                <p class="mb-2">Posts</p>
                                <h6 class="mb-0">{{ posts_count }}</h6>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-xl-3">
{#                        <a href="{% url 'createadvert' %}">#}
                        <a href="{% url 'createadvert' %}">
                            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa-solid fa-comment-dots fa-3x" style="color: #17ff97"></i>
                            <div class="ms-3">
                                <p class="mb-2">Create Advert</p>
{#                                <h6 class="mb-0">236</h6>#}
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <a href="{% url 'createpost' %}">
                            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa-solid fa-square-plus fa-3x" style="color: #0094ff"></i>
                            <div class="ms-3">
                                <p class="mb-2">Create Post</p>
{#                                <h6 class="mb-0">236</h6>#}
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <a href="{% url 'index' %}" target="_blank">
                            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
{#                            <i class="fa-solid fa-square-plus fa-3x" style="color: #0094ff"></i>#}
                            <i class="fa-brands fa-edge" style="color: #ff9600; font-size: 3rem;"></i>
                            <div class="ms-3">
                                <p class="mb-2">Go to website</p>
{#                                <h6 class="mb-0">236</h6>#}
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->