{% extends 'bricks/base.html' %}
{% load static %}

{% block title %} About {% endblock %}

{% block main %}
      <!--/ Intro Single star /-->
      <section class="intro-single">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-8">
              <div class="title-single-box">
                <h1 class="title-single">Discover the Story Behind Bricks City LEGO</h1>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--/ Intro Single End /-->

      <!--/ About Star /-->
      <section class="section-about">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="about-img-box">
                <img src="{% static 'bricks/img/slide-about-1.jpg' %}" alt="" class="img-fluid">
              </div>
              <div class="sinse-box">
{#                <h3 class="sinse-title">EstateAgency#}
{#                  <span></span>#}
{#                  <br> Sinse 2017</h3>#}
                <p style="color: white">About Us</p>
              </div>
            </div>
            <div class="col-md-12 mt-5">
              <div class="row">
                <div class="col section-md-t3">

                  <p class="color-text-a">
                      At Bricks City LEGO, we believe in the power of play to inspire, educate, and
                      connect. Founded with a passion for creativity and a love for LEGO, our center
                      is a place where children and adults alike can let their imaginations run wild
                      and explore the endless possibilities of the iconic brick.
                      <br> What sets us apart is our commitment to providing a safe, welcoming environment where families
                      can come together to play, learn, and create memories that last a lifetime.
                      Our dedicated team is passionate about fostering creativity and helping every
                      visitor discover the joy of building with LEGO.
                      <br> Whether you're celebrating a birthday, hosting a group event, or simply looking for a fun day out, Bricks
                      City LEGO is the ultimate destination for LEGO lovers of all ages. Join us and
                      let your imagination soar!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--/ About End /-->


{% endblock %}