{% extends 'bricks/base.html' %}
{% load static %}
{% block title %} News {% endblock %}

{% block main %}
  <!--/ Intro Single star /-->
  <section class="intro-single" style="background-image: url('{% static "bricks/img/lego.jpg" %}')">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Our Amazing Posts</h1>
            <span class="color-text-a">Bricks City LEGO News</span>
          </div>
        </div>
{#        <div class="col-md-12 col-lg-4">#}
{#          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">#}
{#            <ol class="breadcrumb">#}
{#              <li class="breadcrumb-item">#}
{#                <a href="index.html">Home</a>#}
{#              </li>#}
{#              <li class="breadcrumb-item active" aria-current="page">#}
{#                News Grid#}
{#              </li>#}
{#            </ol>#}
{#          </nav>#}
{#        </div>#}
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->


    <!--/ News Grid Star /-->
  <section class="news-grid grid" style="background-image: url('{% static "bricks/img/lego.jpg" %}')">
    <div class="container">
      <div class="row">

        {% for post in posts %}
        <div class="col-md-4" style="box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1); margin-top: 10px;">
          <div class="card-box-b card-shadow news-box" style="margin-bottom: 0">
            <div class="img-box-b">
              <img src="{{ post.featured_image.url }}" alt="" class="img-b img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-header-b">


              </div>
            </div>
          </div>
            <div class="card-title-b">
                  <h4 class="title-2" style="margin-top: 1rem">
                    <a href="{% url 'single_blog' post.id %}" style="font-size: 1rem;">{{ post.title}}</a>
                  </h4>
                </div>
            <div class="card-date">
                <span class="date-b" style="font-size: 0.8rem; color: gray">Date: {{ post.date_created }}</span>
            </div>
        <div>
            <p>{{ post.intro|slice:200 }}... <a href="{% url 'single_blog' post.id %}" style="color: #ff9600;">read more</a></p>
        </div>

        </div>
        {% endfor %}

      </div>
      <div class="row">
        <div class="col-sm-12">
          <nav class="pagination-a">
            <ul class="pagination justify-content-end">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">
                  <span class="ion-ios-arrow-back"></span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item next">
                <a class="page-link" href="#">
                  <span class="ion-ios-arrow-forward"></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ News Grid End /-->

{% endblock %}