{% extends 'bricks/base.html' %}
{% load static %}
{% block title %} Services {% endblock %}

{% block main %}
    <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Explore Our Exciting LEGO Play Sessions </h1>
            <span class="color-text-a">Bricks City LEGO</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Agent Single Star /-->
  <section class="agent-single mb-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-6">
              <div class="agent-avatar-box">
                <img src="{% static 'bricks/img/personalised.jpg' %}" alt="" class="agent-avatar img-fluid">
              </div>
            </div>
            <div class="col-md-5 section-md-t3">
              <div class="agent-info-box">
                <div class="agent-title">
                  <div class="title-box-d">
                    <h6 class="title-d">Personalized sessions </h6>
                  </div>
                </div>
                <div class="agent-content mb-3">
                  <p class="content-d color-text-a">
                      Unlock Your Creativity with Customized LEGO Play Experiences!
                      At Bricks City LEGO, we believe that every builder is unique,
                      which is why we're excited to offer personalized LEGO play sessions
                      tailored to your preferences and interests. Whether you're a budding
                      architect, a master builder, or just looking to have some fun, our
                      customized sessions are designed to ignite your imagination and
                      bring your LEGO dreams to life!

                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Agent Single End /-->

  <!--/ Agent Single Star /-->
  <section class="agent-single mb-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-6">
              <div class="agent-avatar-box">
                <img src="{% static 'bricks/img/family2.jpeg' %}" alt="" class="agent-avatar img-fluid">
              </div>
            </div>
            <div class="col-md-5 section-md-t3">
              <div class="agent-info-box">
                <div class="agent-title">
                  <div class="title-box-d">
                    <h6 class="title-d">Family Sessions </h6>
                  </div>
                </div>
                <div class="agent-content mb-3">
                  <p class="content-d color-text-a">
                      Bond, Build, and Create Unforgettable Memories Together! Looking for
                      a fun and interactive activity that the whole family can enjoy? Look
                      no further than our Family LEGO Play Sessions at Bricks City LEGO!
                      Designed to bring families closer together through the magic of LEGO,
                      our play sessions offer a unique opportunity for parents and children
                      to bond, collaborate, and unleash their creativity in a welcoming and
                      inspiring environment.


                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Agent Single End /-->

  <!--/ Agent Single Star /-->
  <section class="agent-single mb-5 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-6">
              <div class="agent-avatar-box">
                <img src="{% static 'bricks/img/birthday.jpeg' %}" alt="" class="agent-avatar img-fluid">
              </div>
            </div>
            <div class="col-md-5 section-md-t3">
              <div class="agent-info-box">
                <div class="agent-title">
                  <div class="title-box-d">
                    <h6 class="title-d">Group Sessions</h6>
                  </div>
                </div>
                <div class="agent-content mb-3">
                  <p class="content-d color-text-a">
                      Build, Bond, and Play Together with Your Group! Looking for a unique
                      and engaging activity for your group or organization? Look no further
                      than our Group LEGO Play Sessions at Bricks City LEGO! Whether you're
                      planning a birthday party, team-building event, school field trip, or
                      any other group gathering, our LEGO play sessions offer a fun and
                      interactive experience that will bring your group closer together and
                      leave everyone with unforgettable memories.

                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Agent Single End /-->

  <!--/ Agent Single Star /-->
  <section class="agent-single mb-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-6">
              <div class="agent-avatar-box">
                <img src="{% static 'bricks/img/family1.jpeg' %}" alt="" class="agent-avatar img-fluid">
              </div>
            </div>
            <div class="col-md-5 section-md-t3">
              <div class="agent-info-box">
                <div class="agent-title">
                  <div class="title-box-d">
                    <h6 class="title-d">Couple Sessions</h6>
                  </div>
                </div>
                <div class="agent-content mb-3">
                  <p class="content-d color-text-a">
                      Ignite Your Creativity and Strengthen Your Bond with LEGO!Looking for a unique and
                      unforgettable date night experience? Step into the colorful world of LEGO with our
                      Couples LEGO Play Sessions at Bricks City LEGO! Whether you're celebrating a special
                      occasion, looking for a fun activity to do together, or simply wanting to connect in
                      a new and exciting way, our LEGO play sessions offer the perfect opportunity for couples
                      to unleash their creativity, laugh, and make memories together.

                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Agent Single End /-->

  <!--/ Agent Single Star /-->
  <section class="agent-single mb-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-6">
              <div class="agent-avatar-box">
                <img src="{% static 'bricks/img/children.jpeg' %}" alt="" class="agent-avatar img-fluid">
              </div>
            </div>
            <div class="col-md-5 section-md-t3">
              <div class="agent-info-box">
                <div class="agent-title">
                  <div class="title-box-d">
                    <h6 class="title-d">Birthday Parties</h6>
                  </div>
                </div>
                <div class="agent-content mb-3">
                  <p class="content-d color-text-a">
                      Ignite Your Creativity and Strengthen Your Bond with LEGO!Looking for a unique and
                      unforgettable date night experience? Step into the colorful world of LEGO with our
                      Couples LEGO Play Sessions at Bricks City LEGO! Whether you're celebrating a special
                      occasion, looking for a fun activity to do together, or simply wanting to connect in
                      a new and exciting way, our LEGO play sessions offer the perfect opportunity for couples
                      to unleash their creativity, laugh, and make memories together.

                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Agent Single End /-->

  <!--/ Agent Single Star /-->
  <section class="agent-single mb-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-6">
              <div class="agent-avatar-box">
                <img src="{% static 'bricks/img/family1.jpeg' %}" alt="" class="agent-avatar img-fluid">
              </div>
            </div>
            <div class="col-md-5 section-md-t3">
              <div class="agent-info-box">
                <div class="agent-title">
                  <div class="title-box-d">
                    <h6 class="title-d">Group Events</h6>
                  </div>
                </div>
                <div class="agent-content mb-3">
                  <p class="content-d color-text-a">
                      Whether you're planning a school field trip or a corporate team-building
                      outing, Bricks City LEGO offers customizable packages to suit your needs.
                      Let us help you create an event that's fun, engaging, and memorable.
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Agent Single End /-->









{% endblock %}