{% extends 'base.html' %}
{% load static %}

{% block main %}
     <!--/ Carousel Star /-->
  <div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
      <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'img/slide-2.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Welcome to
                      <br> Bricks City LEGO</p>
                    <h1 class="intro-title mb-4">Where <span class="color-b"> Creativity </span>
                        <br>Meets <span class="color-b"> Fun!</span> </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="{% url 'services' %}"><span class="price-a">View Play Sessions</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'img/slide-1.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Popular Play
                      <br> Session</p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Family </span> Play
                      <br> Session</h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#section-property"><span class="price-a">View packages</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'img/slide-3.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">How To
                      <br> Work With Us</p>
                    <h1 class="intro-title mb-4">
                      <span class="">Partner </span> With
                      <br> <span class="color-b">Bricks City Lego </span> </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">Read More</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Carousel end /-->

  <!--/ Services Star /-->
  <section class="section-services section-t8">
    <div class="container">
{#      <div class="row">#}
{#        <div class="col">#}
{#          <div class="title-wrap d-flex justify-content-between">#}
{#            <div class="title-box">#}
{#              <h2 class="title-a">Who are we</h2>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
      <div class="container row">
        <div class="col">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">

              <div class="card-title-c align-self-center">
{#                <h2 class="title-c">Welcome to Bricks City LEGO – Where Creativity Meets Fun!</h2>#}
              </div>
            </div>
            <div class="card-body-c">
                <h1 class="">Who we are</h1>
                <hr>
              <p class="content-c">
                At Bricks City LEGO, we're more than just a LEGO play center – we're a hub of creativity, imagination,
                  and endless fun! Step into our colorful world where bricks come to life and every creation is a
                  masterpiece waiting to be built. Whether you're a seasoned LEGO enthusiast or just discovering the
                  magic of building, there's something for everyone at Bricks City LEGO. From exciting play zones to
                  immersive workshops and thrilling events, our center is designed to spark imagination and bring
                  families together for unforgettable experiences. Come join us and unleash your creativity – one
                  brick at a time!
              </p>
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon">Read more
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Services End /-->

  <!--/ Property Star /-->
  <section class="section-property section-t8" id="section-property">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h3 class="title-a">Our LEGO Packages</h3>
            </div>
{#            <div class="title-link">#}
{#              <a href="property-grid.html">All Property#}
{#                <span class="ion-ios-arrow-forward"></span>#}
{#              </a>#}
{#            </div>#}
          </div>
        </div>
      </div>
      <div id="property-carousel" class="owl-carousel owl-theme">
        <div class="carousel-item-b">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="{% static 'img/pack1.jpg' %}" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                      Hourly
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">KSH | 600 per person</span>
                  </div>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">

                    <li>
                      <h4 class="card-info-title">30 extra minutes included</h4>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item-b">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="{% static 'img/pack2.jpg' %}" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                      2 Hours, 15 mins
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">KSH | 1,200 per person</span>
                  </div>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">

                    <li>
                      <h4 class="card-info-title">30 extra minutes included</h4>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item-b">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="{% static 'img/pack3.jpg' %}" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a" style="font-size: 24px;">
                      Monthly, (11 Hours/month)
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">KSH | 5,000 per person</span>
                  </div>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">

                    <li>
                      <h4 class="card-info-title">30 extra minutes per session</h4>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item-b">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="{% static 'img/pack4.jpg' %}" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                      Custom Packages
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">KSH | Negotiable</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>
  <!--/ Property End /-->


  <!--/ News Star /-->
  <section class="section-news section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Latest News</h2>
            </div>
            <div class="title-link">
              <a href="blog-grid.html">All News
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="new-carousel" class="owl-carousel owl-theme">
        <div class="carousel-item-c">
          <div class="card-box-b card-shadow news-box">
            <div class="img-box-b">
              <img src="{% static 'img/post-2.jpg' %}" alt="" class="img-b img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-header-b">
                <div class="card-title-b">
                  <h2 class="title-2">
                    <a href="blog-single.html">House is comming
                      <br> new</a>
                  </h2>
                </div>
                <div class="card-date">
                  <span class="date-b">18 Sep. 2017</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item-c">
          <div class="card-box-b card-shadow news-box">
            <div class="img-box-b">
              <img src="{% static 'img/post-5.jpg' %}" alt="" class="img-b img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-header-b">
                <div class="card-title-b">
                  <h2 class="title-2">
                    <a href="blog-single.html">Travel is comming
                      <br> new</a>
                  </h2>
                </div>
                <div class="card-date">
                  <span class="date-b">18 Sep. 2017</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item-c">
          <div class="card-box-b card-shadow news-box">
            <div class="img-box-b">
              <img src="{% static 'img/post-7.jpg' %}" alt="" class="img-b img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-header-b">
                <div class="card-title-b">
                  <h2 class="title-2">
                    <a href="blog-single.html">Park is comming
                      <br> new</a>
                  </h2>
                </div>
                <div class="card-date">
                  <span class="date-b">18 Sep. 2017</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item-c">
          <div class="card-box-b card-shadow news-box">
            <div class="img-box-b">
              <img src="{% static 'img/post-3.jpg' %}" alt="" class="img-b img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-header-b">
                <div class="card-category-b">
                <div class="card-title-b">
                  <h2 class="title-2">
                    <a href="#">Travel is comming
                      <br> new</a>
                  </h2>
                </div>
                <div class="card-date">
                  <span class="date-b">18 Sep. 2017</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>
  <!--/ News End /-->


{#    Partnerships#}
  <div class="container-fluid partnerships" style="background-image: url('{% static 'img/partner.jpg' %}'); height: 100vh; background-repeat: no-repeat; background-size: cover;">
    <div class="container partner">
        <h2>Join Forces with Bricks City LEGO and Build Something Amazing Together!</h2>
        <p class="intro-subtitle intro-price">
            <a href="#"><span class="price-a">Partner With Us</span></a>
        </p>
    </div>
  </div>
{#    Ends Partnerships#}



{% endblock %}