{% extends 'base.html' %}
{% load static %}


{% block main %}
    <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Partner With Us</h1>
{#            <span class="color-text-a">We're Here to Help!Have a question, suggestion, or just want to say hello? We'd love to hear from you! Get in touch with the Bricks City LEGO team using the contact information below, and we'll get back to you as soon as possible.</span>#}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

    <!--/ Services Star /-->
  <section class="section-services">
    <div class="container">
      <div class="container row">
        <div class="col">
          <div class="card-box-c foo">
            <div class="card-body-c">
                <p class="content-c">
                Are you passionate about inspiring creativity, fostering imagination, and bringing joy to families?
                If so, we invite you to partner with Bricks City LEGO and become part of our vibrant community
                dedicated to all things LEGO! At Bricks City LEGO, we believe in the power of collaboration to create
                extraordinary experiences. Whether you're a business looking to sponsor an event, an organization
                seeking to host a workshop, or an individual with a unique idea, we welcome partnerships of all shapes
                and sizes.

                    Here are some ways you can partner with us: </p>
                <ul>
                    <li><b>Collaborative Workshops</b> - Are you an expert in a particular field or have a special talent you'd
                        like to share? Partner with us to host a collaborative workshop where you can engage with our
                        visitors and inspire them with your knowledge and skills.
                    </li>
                    <li>
                        <b>Educational Partnerships</b> - Are you an educator or part of an educational institution interested
                        in integrating LEGO into your curriculum? Partner with us to develop custom educational
                        programs and resources that engage students and enhance learning outcomes.

                    </li>
                    <li>
                        <b>Community Events</b> - Join us in organizing community events, charity drives, or fundraisers that
                        benefit local organizations and make a positive impact in our area.

                    </li>
                </ul>
                <p class="content-c">
                    No matter how you choose to partner with us, we're committed to working closely with you to create
                    mutually beneficial opportunities that drive success and make a difference. Ready to embark on an
                    exciting journey with Bricks City LEGO? Contact us today to explore partnership possibilities and
                    let's build something amazing together.
                </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Services End /-->

  <!--/ Contact Star /-->
  <section class="contact">
    <div class="container">
      <div class="row">

        <div class="col-sm-12 section-t8">
          <div class="row">
            <div class="col-md-7">
                <h3 class="mt-3 mb-3">Send us a message</h3>
              <form class="form-a contactForm" action="" method="post" role="form">
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <input type="text" name="name" class="form-control form-control-lg form-control-a" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <input name="email" type="email" class="form-control form-control-lg form-control-a" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <input type="tex" name="subject" class="form-control form-control-lg form-control-a" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <textarea name="message" class="form-control" name="message" cols="45" rows="8" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-a">Send Message</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-5 section-md-t3">
              <div class="icon-box section-b2">
                <div class="icon-box-icon">
                  <span class="ion-ios-paper-plane"></span>
                </div>
                <div class="icon-box-content table-cell">
                  <div class="icon-box-title">
                    <h4 class="icon-title">Say Hello</h4>
                  </div>
                  <div class="icon-box-content">
                    <p class="mb-1">Email.
                      <span class="color-a">brickscitylego.ke@gmail.com</span>
                    </p>
                    <p class="mb-1">Phone.
                      <span class="color-a">+254733438411 or 0710813007</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="icon-box section-b2">
                <div class="icon-box-icon">
                  <span class="ion-ios-pin"></span>
                </div>
                <div class="icon-box-content table-cell">
                  <div class="icon-box-title">
                    <h4 class="icon-title">Find us in</h4>
                  </div>
                  <div class="icon-box-content">
                    <p class="mb-1">
                       Coloho Mall, Athi River
                        <br> Off Mombasa road, Kitengela Junction.
                    </p>
                  </div>
                </div>
              </div>
              <div class="icon-box">
                <div class="icon-box-icon">
                  <span class="ion-ios-redo"></span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Contact End /-->

{% endblock %}